*{
	margin:0;
	padding:0;	
}
body{
	background-image:url(images/bg.jpg);
	background-repeat: repeat-x;
}
body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 2px dotted red;
}

body > * > * * {
	outline: 2px dashed green;
}

/**** header ******/
div.container{
	min-height:760px;
}
div.container .logo{
	height:355px;	
	width:240px;
	color:transparent;
}
div.container .header{
	height:230px;	
	width:705px;
	margin-left:245px;
}
div.container .tooltip{
	height:148px;
	width:705px;
}
div.container .menu{
	height:79px;
	width:705px;
}

/**** slideshow ******/
div.container .slideshow{
	width:705px;
	height:390px;
	float:right;
}

/**** left section *****/
div.container .leftside{
	float:left;
	width:240px;
	height:410px;	
}

/***** productions ******/
div.container .gallery{
	width:705px;
	height:140px;
	float:right;
}
div.container .part1{
	float:left;
	height:140px;
	width:275px;	
}
div.container .part2{
	float:left;
	height:140px;
	width:220px;
}
div.container .part3{
	height:140px;
	width:210px;	
	margin-left:495px;
}

/***** foooter section *******/
.footer{
	background-repeat:repeat-x;
	left:0;
	right:0;
	background-image:url(images/footer.jpg);
	height:245px;
}
