*{
	margin:0;
	padding:0;	
}
body{
	background-image:url(images/bg.jpg);
	background-repeat: repeat-x;
}
body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 2px dotted red;
}

body > * > * * {
	outline: 2px dashed green;
}

/**** header ******/
div.container{
	min-height:760px;
}
div.container .logo{
	height:355px;	
	width:240px;
	color:transparent;
}
div.container .header{
	height:230px;	
	width:705px;
	margin-left:245px;
}
div.container .tooltip{
	height:148px;
	width:705px;
}
div.container .menu{
	height:79px;
	width:705px;
}
div.container .menu ul{
	list-style-type:none;
	float:right;
	width:705px;	
}
div.container .menu li{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	margin:25px 20px 0 35px;
	padding:10px 34px 6px 40px;
	border:solid 1px black;
	opacity:0.62;
	float:right;	
}
div.container .menu li:first-child{
	margin-right:5px !important;	
}
div.container .menu li:last-child{
	margin-left:5px !important;	
	float:left;	
}
div.container .menu li a{
	outline:none;
	text-decoration:none;
	color:#f6e3bd;
	opacity:1;
}

/**** slideshow ******/
div.container .slideshow{
	width:705px;
	height:390px;
	float:right;
}

/**** left section *****/
div.container .leftside{
	float:left;
	width:240px;
	height:410px;	
}

/***** productions ******/
div.container .gallery{
	width:705px;
	height:140px;
	float:right;
}
div.container .part1{
	float:left;
	height:140px;
	width:275px;	
}
div.container .part2{
	float:left;
	height:140px;
	width:220px;
}
div.container .part3{
	height:140px;
	width:210px;	
	margin-left:495px;
}

/***** foooter section *******/
.footer{
	background-repeat:repeat-x;
	left:0;
	right:0;
	background-image:url(images/footer.jpg);
	height:245px;
}
